{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="container">
  <h2 class="text-center text-warning">About</h2>
 
  <div class="page-content">
    <div class="row">
      <div class="col">
        <img src="{% static 'images/illustration.jpg' %}"
              width="450px;"
              height="450px;"
              class="rounded-circle"
              alt="The muli language illustration"/>
      </div>
      <div class="col">
          <p>Translate your favorite texts using Googletrans API and save the result to revisit later!</p>
      </div>
    </div>    
  </div>
</div>
{% endblock %}