{% extends 'base.html' %} {% load static %} 
{% block content %}

<div class="container">
  <div class="row">    
    <div class="col-6">
      <img
              src="{% static 'images/background.jpg' %}"
              class="rounded-circle"
              width="650px;"
              height="650px;"
              alt="The muli language hello image"
            />
    </div>
    <div class="col-6 mt-2 p-5" id="login-section">
        {% if not user.is_authenticated %}          
              <form action="{% url 'home' %}" method="post" class="login">
                <h1>Login</h1>
                {% csrf_token %} {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
        {% else %}
              <div class="div">
                <h5 class="text-info">Welcome To Translation Card Collector!</h5>
                <h5 class="text-info">Translate to/from 100+ languages using Googletrans API</h5>
                <p class="fst-italic">Visit 'All Cards' to check exiting tranlated text cards.</p>                
              </div>        
        {% endif %}
    </div>
  </div>
</div> 
{% endblock %}
