{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<div class="container">
  <h1 class="text-center text-warning">Details</h1> 
  <div class="row">    
     <div class="card" style="width: 18rem;">       
        <img src="{% static 'images/card_image.jpg' %}" class="card-img-top" alt="Multi language image">
        <div class="card-body">        
          <h2 class="card-title">{{ card.title }}</h2>
          <p class="card-text">{{card.result}}</p>            
          <p class="card-text">{{card.note}}</p>
          <a href="{% url 'card-update' card.id %}" class="btn btn-primary">Edit Note</a>
          <a href="{% url 'card-delete' card.id %}" class="btn btn-danger">Delete</a>
        </div>               
      </div>      
  </div>
</div>
{% endblock %}
