{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/cards/newcard.css' %}"
/>
{% endblock %} {% block content %}

<div class="page-header">
  <h1 class="header">Add New Card</h1>  
</div>
  <div class="container">    
      <form 
        action="{% url 'create-conversion' %}"
        method="post" 
        class="subsection-content" 
        autocomplete="off">
        {% csrf_token %}                  
        {{ cardform.as_p }}
        <button type="submit" class="btn submit">Submit</button>
    </form>
        <textarea id="translated_text" rows="10" cols="40" placeholder="Translated text..">
          {{translated.text}}
        </textarea>        
  </div>


{% endblock %}
