{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/cards/newcard.css' %}"
/>
{% endblock %} {% block content %}

<div class="page-header">
  <h1 class="header">Add New Card</h1>  
</div>
  <div class="container">    
    <section id="input-section">
        <form 
          action="{% url 'create-conversion' %}"
          method="post" 
          class="subsection-content" 
          autocomplete="off">
          {% csrf_token %}                  
          {{ cardform.as_p }}
          <button type="submit" class="btn submit">Submit</button>
      </form>
    </section>
    <section id="result-section">
      <form  
          action="{% url 'save-translation' %}"
          method="post" 
          class="subsection-content" 
          autocomplete="off">
          {% csrf_token %}          
          {{resultform.as_p}}                
        <button type="submit" class="btn submit">Save Card</button>
      </form>
    </section>
  </div>


{% endblock %}
