{% extends 'base.html' %} {% load static %} {% block head %}

{% endblock %} {% block content %}

<div class="container">    
    <h1 class="text-center text-warning">Add New Card</h1>  
    <div class="row">
    <div class="col-6">
        <form 
          action="{% url 'create-conversion' %}"
          method="post" 
          class="subsection-content" 
          autocomplete="off">
          {% csrf_token %}                  
          {{ cardform.as_p }}
          <button type="submit" class="btn submit btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-6">
      <form  
          action="{% url 'save-translation' %}"
          method="post" 
          class="subsection-content" 
          autocomplete="off">
          {% csrf_token %}          
          {{resultform.as_p}}                
        <button type="submit" class="btn submit btn-primary">Save Card</button>
      </form>
    </div>
    </div>
</div>


{% endblock %}
